<ng-container>
    <div class="card" *ngIf="product.data">
        <img class="card-img-top" src="{{ product.data.imageUrl}}" *ngIf="product.data.imageUrl">
        <div class="card-body">
          <h5 class="card-title">{{product.data.title}}</h5>
          <p class="card-text">{{product.data.price | currency: "EUR": true}}</p>
          
        </div>
        <div class="card-footer">
            <button *ngIf="actions" 
            (click)="addToShoppingCard(product)"
            class="btn btn-primary btn-block">Add to Shop Card</button>
        </div>
      </div>
</ng-container>
