.card {
    margin-bottom: 30px;
}
.card-footer {
    padding: 0;
    text-align: center;
    height: 39px;
}
.toRight {
position: absolute;
right: 0;
}
.toLeft {
    position: absolute;
    left: 0;
}
