.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 5%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;

  }
  .mat-sort-header-sorted {
      color: black
  }
  .mat-column-position {
    max-width: 40px;
  }
  