<p><button routerLink="/admin/products/new"class="btn btn-primary">
  New Product
</button>
</p>

<!-- table -->

<div class="example-container mat-elevation-z8">

    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="filterForSearching($event.target.value)" placeholder="Search...">
        </mat-form-field>
      </div>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let p"> {{p.position}} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
        <mat-cell *matCellDef="let p"> {{p.data.title}} </mat-cell>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let p"> {{p.data.price | currency: 'EUR': true}} </mat-cell>
      </ng-container>
      
      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let p">
            <a [routerLink]="['/admin/products/', p.key]">Edit</a>
          </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  </div>
  
<!-- table ends -->

<!--  
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Prise</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts">
        <td>{{p.data.title}}</td>
        <td>{{p.data.price | currency: 'EUR': true}}</td>
        <td>
          <a [routerLink]="['/admin/products/', p.key]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  -->